/*--------------------------------------------SECCION-1--------------------------------------------*/

#seccion1 header{
display:none;
height:60px;
}

.ui-page{
background-image:url(img/bg.png);
}

.ui-content{
width:100%;
margin:0px;
padding:0px;
}

#logo{
display:block;
width:200px;
height:250px;
margin:0 auto !important;
margin-top:100px !important;
}

#divisor{
display:block;
width:200px;
height:12px;
margin:0 auto !important;
}

#texto_bienvenida{
width:330px;
margin:0 auto;
text-align:center;
margin-top:30px;
}

h1{
font-family: Abel;
color:#ebebeb;
text-transform:uppercase;
text-shadow:none;
margin-bottom:-20px;
font-size:2em;
}

p{
font-family: Abel;
color:#ebebeb;
text-shadow:none;
font-size:1.3em;
}

span{
color:#3DABB9;
}

#login_btn{
display:block;
width:200px;
height:42px;
margin:0 auto !important;
}

footer{
min-height:5px !important;
background-color:#3DABB9 !important;
border:none !important;
}
